<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DefraFramework" value="https://pkgs.dev.azure.com/defragovuk/_packaging/DEFRA-TRD%40Local/nuget/v3/index.json" protocolVersion="3" />
	<add key="WCAG" value="https://sareportingpoc.blob.core.windows.net/wcagautomation/flatcontainer/cognizant.wcag.compliance.checker/index.json"/>
  </packageSources>
</configuration>